<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>$title$</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.9.0/github-markdown.min.css" integrity="sha512-Ouq1+UcR9ENXndFyd/YA9i+ETLJmX3WoaMBF/nDzdqJbipKGL/SAbkO+qjDoxfD/dhZs4ZqgR9vXkolrK77xmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    
    html, body {
      font-family: Arial, sans-serif;
      width: 95vw;
      height: fit-content;
      overflow: auto;
      
      padding-top: 10px;
      padding-bottom: 10px;
      
      align-self: center;
      justify-self: center;
      background-color: #0d1117;
    }
   </style>

  $for(header-includes)$
  $header-includes$
  $endfor$
</head>

<body>
<article class="markdown-body">

$body$

</article>

$for(include-after)$
$include-after$
$endfor$

</body>
</html>